

/* Header */
header {
    height: 60px;
    width: 100%;
    background-color: var(--clr1);
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.15rem;
    font-family: Fjalla one;
}
header .logo {
    cursor: pointer;
    user-select: none;
}
/* Header */


/* Main */
main {
    height: calc(100vh - 60px - 80px);
    width: 100%;
    padding: 30px 90px;
    position: relative;
}
/* Home */
.greet-user {
    line-height: 1.8rem;
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.greet-user p {
    margin: 10px 0;
}
.greet-user p:first-child {
    font-weight: 500;
}
.play-btn {
   
    text-decoration: none;
    background-color: var(--clr1);
    color: #fff;
    padding: 7px 12px;
    text-align: center;
    border: 1px solid var(--clr1);
}
.play-btn.how {
    color: var(--clr1);
    background-color: transparent;
    margin-left: 7px;
}
/* Home */

/* Game */
.game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.board {
    display: inline-block;
    background-color: var(--clr1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid var(--clr1);
    border-radius: 50%;
    margin: 5px;
}

.empty {
    background-color: #fff;
}

.player1 {
    background-color: var(--clr2); 
}

.player2 {
    background-color: var(--clr3); 
}
#current-player {
    position: absolute;
    min-width: 100px;
    background: var(--clr1);
    right: 15px;
    bottom: 15px;
    color: #fff;
    padding: 8px;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.current-token {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}
.current-token.one{
    background-color: var(--clr2);
}
.current-token.two{
    background-color: var(--clr3);
}

.winning-cell {
    border: 3px solid yellow;
    box-shadow: 0 0 0 5px rgba(255, 255, 0, 0.5); 
}



/* Game */


/* Main */




/* Footer */
footer {
    height: 80px;
    width: 100%;
    background-color: var(--clr1);
    padding: 0 90px;
}
.footer-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
footer a {
    text-decoration: none;
    color: #fff;
    position: relative;
    width: 15%;
    display: flex;
    justify-content: center;
}
footer i {
    padding: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}
footer a.active i {
    background-color: #fff;
    color: var(--clr1);
    margin-right: 5px;
}
footer a span {
    opacity: 0.5;
    font-size: 0.9rem;
    position: absolute;
    bottom: -200px;
    transition: bottom 0.3s ease;
}
footer a:hover span {
    bottom: -20px
}

/* Footer */



@media screen and (max-width: 600px) {
    main {
        padding: 20px 50px;
    }
    .cell {
        width: 40px;
        height: 40px;
        border: 2px solid var(--clr1);
        border-radius: 50%;
        margin: 5px;
    }
    .greet-user {
        line-height: 1.6rem;
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .greet-user p {
        margin: 8px 0;
    }
    .play-btn {
        width: 100%;
        margin-bottom: 8px;
        display: block;
    }
    .play-btn.how {
        margin-left: 0;
    }
    footer {
        position: fixed;
        bottom: 0;
        padding: 0 40px;
    }
    .footer-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    #current-player {
        position: absolute;
        width: 150px;
        height: 50px;
        background: var(--clr1);
        top: 15px;
        left: 15px;
        color: #fff;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .current-token {
        width: 40px;
        height: 40px;
    }
}